<template>
  <transition-group name="reorder-list" tag="ol" class="leader-board__list">
    <li
      class="leader-board__item"
      v-for="player in players"
      v-bind:key="player.id"
    >
      <div class="player">
        {{ player.name }}
        <span class="player__points">
          {{ player.points }} <span>pts</span>
        </span>
      </div>
      <div class="leader-board__actions">
        <button
          type="button"
          class="t-btn-decrease"
          v-bind:disabled="player.points === 0"
          @click="decreasePoints(player.id)"
        >
          <svg width="24" height="24">
            <use xlink:href="#icon-minus" />
          </svg>
        </button>
        <button
          type="button"
          class="t-btn-increase"
          @click="increasePoints(player.id)"
        >
          <svg width="24" height="24">
            <use xlink:href="#icon-plus" />
          </svg>
        </button>
      </div>
    </li>
  </transition-group>
</template>

<script>
export default {
  props: {
    players: {
      type: Array,
      required: true
    }
  },

  methods: {
    decreasePoints(id) {
      this.$emit("update", id, "decrease");
    },

    increasePoints(id) {
      this.$emit("update", id, "increase");
    }
  }
};
</script>

<style>
.leader-board__list {
  padding: 0;
  list-style: none;
  margin: -1px 0 0;
}

.leader-board__item {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--brown-light);
  padding: 1rem;
  position: relative;
}

/* player */
.player {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.player__points {
  font-weight: 700;
  margin-top: 6px;
}

/* actions */
.leader-board__actions > button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 0;
}

.leader-board__actions > button + button {
  margin-left: 0.5rem;
}

/* animation */
.reorder-list-move {
  transition: transform 0.75s;
  pointer-events: none;
}

/* responsive */
@media (min-width: 768px) {
  .leader-board__item {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .player {
    flex-direction: row;
  }

  .leader-board__actions {
    position: absolute;
    right: -100px;
  }

  .leader-board__actions button:not(:focus) {
    opacity: 0.5;
    transition: opacity 0.2s;
  }

  .leader-board__item:hover button:not(:disabled) {
    opacity: 1;
  }

  .player__points {
    font-weight: 400;
    margin-top: 0;
    margin-left: auto;
  }

  .player__points span {
    display: none;
  }
}
</style>
