<template>
  <div class="leader-board-wrapper">
    <section class="leader-board">
      <header class="leader-board__header" aria-hidden="true">
        <strong>Player</strong><strong>Points</strong>
      </header>
      <LeaderBoardList
        v-bind:players="orderedPlayers"
        @update="updatePlayerPoints"
      />
    </section>
    <button
      type="button"
      class="leader-board__button-reset"
      @click="resetPlayersPoints()"
    >
      Reset
    </button>
  </div>
</template>

<script>
import LeaderBoardList from "./LeaderBoardList.vue";

let playersArr = [
  {
    id: 0,
    name: "Emma",
    points: 0
  },
  {
    id: 1,
    name: "Noah",
    points: 0
  },
  {
    id: 2,
    name: "James",
    points: 0
  },
  {
    id: 3,
    name: "Willian",
    points: 0
  },
  {
    id: 4,
    name: "Olivia",
    points: 0
  }
];

export default {
  components: {
    LeaderBoardList
  },

  data() {
    return {
      players: playersArr
    };
  },

  computed: {
    orderedPlayers() {
      return this.sortPlayers();
    }
  },

  methods: {
    getPlayers() {
      let storagedPlayers = localStorage.getItem("players");

      if (storagedPlayers !== null) this.players = JSON.parse(storagedPlayers);
    },

    storePlayers(players) {
      localStorage.setItem("players", JSON.stringify(players));
    },

    sortPlayers() {
      let sorted = [];

      sorted = this.players.sort((a, b) => {
        if (a.points === b.points) {
          let nameA = a.name.toUpperCase();
          let nameB = b.name.toUpperCase();

          if (nameA < nameB) return -1;
          if (nameA > nameB) return 1;
        }

        return b.points - a.points;
      });

      this.storePlayers(sorted);

      return sorted;
    },

    updatePlayerPoints(id, type) {
      this.players.forEach(player => {
        if (player.id === id) {
          if (type === "decrease") player.points -= 1;
          if (type === "increase") player.points += 1;
        }
      });
    },

    resetPlayersPoints() {
      this.players.forEach(player => {
        player.points = 0;
      });
    }
  },

  created() {
    this.getPlayers();
  }
};
</script>

<style>
.leader-board-wrapper {
  width: calc(100% - 30px);
  max-width: 450px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.leader-board {
  align-self: center;
  background-color: var(--white);
  border: 1px solid var(--brown-light);
  border-radius: 0.25rem;
  box-shadow: 2px 2px 6px var(--green);
  margin-bottom: 1rem;
  width: 100%;
}

.leader-board__header {
  background-color: var(--brown-light);
  display: none;
  justify-content: space-between;
  padding: 1rem;
}

@media (min-width: 768px) {
  .leader-board__header {
    display: flex;
  }
}

.leader-board__button-reset {
  align-self: flex-end;
}
</style>
