<template>
  <LeaderBoard />
</template>

<script>
import LeaderBoard from "./components/LeaderBoard.vue";

export default {
  name: "App",
  components: {
    LeaderBoard
  }
};
</script>

<style>
:root {
  /* pallet: https://coolors.co/cb997e-eddcd2-fff1e6-f0efeb-ddbea9-a5a58d-b7b7a4 */
  --white: #fff;
  --gray: #f0efeb;
  --black: #333;
  --brown: #ddbea9;
  --brown-light: #eddcd2;
  --brown-dark: #cb997e;
  --green: #b7b7a4;

  --font-family: "Lato", sans-serif;
  --font-size: 16px;
}

html,
body {
  min-height: 100vh;
}

body {
  color: var(--black);
  background-color: var(--gray);
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
}

*,
*::before,
*::before {
  box-sizing: border-box;
}

/* buttons */
button {
  color: var(--brown-dark);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--brown-dark);
  background-color: var(--white);
  transition: background 0.25s, border 0.25s;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

button:hover {
  color: var(--white);
  background-color: var(--brown-dark);
}

button:focus {
  box-shadow: 2px 2px 6px var(--brown-light);
  outline: 0;
}

button:disabled {
  pointer-events: none;
  opacity: 0.5;
}
</style>
